* {
  margin: 0;
  padding: 0;

}


.App {
  text-align: center;

}

/*Api Component ***********************************************************/

.api {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

}



.search-cont {

  width: 99%;
  display: flex;
  justify-content: center;

}

.search-input {
  padding: .5rem;
  text-align: center;
  width: 25rem;

  font-size: 2rem;
  border: none;
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
  outline: none;
  border-radius: 20px 0 0 20px;
}

.search-input::placeholder {
  font-size: 1.5rem;
}


.search-btn {
  background: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  padding: .8rem;
  border-radius: 0 20px 20px 0;
}

.search:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

.search:active {
  position: relative;
  top: 1px;
}

/* CurrentDay Component **************************************************************************/

.CurrentDay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.current-day-container {
  margin-top: 1rem;
  padding: 2rem;
  font-size: 1.8rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* 
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-info {
  display: flex;
  flex-direction: column;
}

.current-info-part1 {
  margin: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.current-info-part2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.current-day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.current-temp {
  font-size: 3rem;
  margin-top: 2rem;
}



/* Forecast Day Components **********************************************************/

.ForecastDays {
  width: 96vw;
  margin-top: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

.days {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.dayName {
  font-size: 1.5rem;
  text-align: center;

  width: 15rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {

  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;

}

.card-container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.day-icon {
  width: 100px;

}

/*Footer *************************************/

.Footer{
  margin: 1.5rem 0 1rem 0;
}


/* Responsive **************************************/



@media screen and (max-width:800px) {

  .current-day-container {
    width: 40rem;
    font-size: 1.5rem;
  }


  .card-container {
    flex-direction: column;

  }

  .days {
    flex-direction: column;
  }

  .ForecastDays {
    flex-direction: row;
    justify-content: center;

  }

}

@media screen and (max-width:725px) {

  .current-day-container {
    width: 30rem;
    font-size: 1.2rem;
  }


  .card-container {
    flex-direction: column;

  }

  .days {
    flex-direction: column;
  }

  .ForecastDays {
    flex-direction: row;
    justify-content: center;

  }

}

@media screen and (max-width: 565px) {

  .current-day-container {
    width: 18rem;
  }

  .dayName {
    font-size: 1.2rem;
    width: 7rem;
  }

  .card {
    width: 7rem;
  }

  .ForecastDays {
    width: 18rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    

  }

  .day-icon {
    width: 50px;
  }

  .current-day-container {
    font-size: 1rem;
  }

  .flex {
    flex-direction: column;
  }

  .search-input {

    width: 15rem;
    font-size: 1.5rem;

  }

  .search-input::placeholder {
    font-size: 1.2rem;
  }

  .Footer{
    
   
    
  }


}

